node_modules
build/
bin/obj/
*.o
*.so
*.dll
*.exe
*.pdb
*.lib
CMakeFiles/
CMakeCache.txt
Makefile
*.vcxproj*
*.sln

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
Icon?
$RECYCLE.BIN/

*.local
*.backup
*.bak
*.tmp
*.swp
*.swo
*.orig

DSA/build/Release/
DSA/build/Debug/

package-lock.json